/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 100px;
    font-size: 24px;
    text-align: center;
}
section{
    padding: 40px;
}
h1{
    font-size: 60px;
    text-transform: uppercase;
}
h2{
    margin-bottom: 20px;
    font-style: italic;
}
ul{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
}
li{
    margin: 0 8px;
    padding: 5px;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.5);
}

/* UTILITIES */
.bg-transparent{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-green
{
    background-color: #228B22;
}
.bg-red
{
    background-color: #FF6347;
}
.bg-aqua
{
    background-color: #7FFFD4;
}
.bg-yellow
{
    background-color: #DAA520;
}
.bg-violet
{
    background-color: #EE82EE;
}

/* APP HEADER */
.app-header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    line-height: 100px;
    color: #fff;
    background-color: #111;
}